/* styles/components/Sidebar.module.css */
.container {
  /* background-color: hsl(var(--primary)); */
  background-color: white;

  /* height: 99vh; */
  width: 0;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 40;
  transition: width 0.3s ease-in-out, right 0.3s ease-in-out;
}

.containerIsOpen {
  width: 19rem;
  border: 5px solid hsl(var(--primary));
  border-bottom: none;
}

.containerIsClosed {
  width: 0;
}

.sidebar {
  position: fixed;
  top: 0;
  /* right: 0rem; */
  right: -5rem;
  height: 100vh;
  z-index: 100;
  width: 5rem;
  color: #fff;
  /* transition: width 3.3s ease-in-out, right 0.3s ease-in-out; */
  /* transition: width 0.3s ease-in-out; */
  /* 👉 ADD THIS */
}

.sidebarOpen {
  width: 19rem;
  right: 0;
}

.sidebarClosed {
  /* width: 5rem; */
  width: 0;
}

.content {
  margin-left: 5rem;
  transition: margin-right 0.3s ease-in-out;
}

.contentShifted {
  margin-right: calc(5rem + var(--sidebar-width) + 40px);
}

.contentShiftedBack {
  margin-right: 40px;
}

.toggleButton {
  position: absolute;
  top: 20px;
  transition: right 0.6s ease-in-out;
}

.nav {
  opacity: 0;
  transform: translateX(20px);
  transition: opacity 0.4s ease-in-out, transform 0.3s ease-in-out;
}

.navVisible {
  opacity: 1;
  transform: translateX(0);
}